html { font-size: 10px; }

body { font-size: 1.6rem; font-family: "Poppins", "Noto Sans KR", sans-serif; color: #111; }

a { color: inherit; text-decoration: none; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

#header { position: fixed; width: 100%; height: 90px; overflow: hidden; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; z-index: 99; }

#header.open { height: 400px; background-color: rgba(0, 0, 0, 0.8); }

#header:after { content: ""; display: block; position: absolute; height: 1px; left: 0px; right: 0px; top: 89px; background-color: rgba(255, 255, 255, 0.5); }

#header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 50px; }

#header .container #logo a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 90px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .container #gnb { text-align: center; color: #fff; }

#header .container #gnb .list { display: -webkit-box; display: -ms-flexbox; display: flex; }

#header .container #gnb .list > li > a { font-size: 18px; text-transform: capitalize; font-weight: 500; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 90px; padding: 0 50px; }

#header .container #gnb .list > li .depth02 li a { display: block; padding: 10px 0; }

#header .container .etc { color: #fff; height: 90px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .container .etc .online { padding: 15px 30px; border: 2px solid #fff; border-radius: 100px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#header .container .etc .online:hover { background-color: #bf0c14; border-color: #bf0c14; }

#header .container .etc .all { width: 50px; height: 50px; position: relative; }

#header .container .etc .all span { display: block; width: 30px; height: 2px; background-color: #fff; position: absolute; left: 10px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#header .container .etc .all span:nth-child(1) { top: 14px; }

#header .container .etc .all span:nth-child(2) { top: 24px; }

#header .container .etc .all span:nth-child(3) { top: 34px; }

#header .container .etc .all.open span:nth-child(1) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 24px; }

#header .container .etc .all.open span:nth-child(2) { left: -100px; opacity: 0; }

#header .container .etc .all.open span:nth-child(3) { -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 24px; }
