//회원가입...
//공지사항...
//form관련 css
@import "vars";
@import "mixins";
.board {
  width: 100%;
  border-top: 1px solid $main-color;
  tr {
    border-bottom: 1px solid $border-color;
    &:hover {
      background-color: $light-gray-color;
    }
    th,
    td {
      padding: 15px 0;
      text-align: center;
    }
    .subject {
      text-align: left;
    }
  }
}
.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    margin: 0 20px;
    .active {
      a {
        background-color: $main-color;
        border-color: $main-color;
        color: $white-color;
        overflow: hidden;
        @include longShadow(darken($main-color, 20), right, 30);
      }
    }
  }
  a {
    width: 40px;
    height: 40px;
    @include flexCenter();
    border: 1px solid $border-color;
  }
}
