@import "vars";
@import "mixins";

#subContentsWrap {
  #subVisual {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 3;
    .subTitle {
      @include absCenter();
      color: #fff;
      text-align: center;
      padding-top: 50px;
      h2 {
        font-size: $xx-large-size;
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        font-size: $medium-size;
      }
    }
    #lnb {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      height: 50px;
      width: 100%;
      .contents {
        width: 1200px;
        margin: auto;
        display: flex;
        .home {
          a {
            @include flexCenter();
            width: 50px;
            height: 50px;
            color: #fff;
          }
        }
        .item {
          &:hover {
            ul {
              display: block;
            }
          }
          button {
            width: 250px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            color: $white-color;
          }
          ul {
            border: 1px solid $text-color;
            background-color: #fff;
            display: none;
            li {
              border-top: 1px solid $text-color;
              a {
                display: flex;
                height: 50px;
                align-items: center;
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
  .subVisual01 {
    background-image: url("../images/contents/subVisual01.jpg");
  }
  .subVisual02 {
    background-image: url("../images/contents/subVisual02.jpg");
  }
  .subVisual03 {
    background-image: url("../images/contents/subVisual03.jpg");
  }
  .subVisual04 {
    background-image: url("../images/contents/subVisual04.jpg");
  }
  .subVisual05 {
    background-image: url("../images/contents/subVisual05.jpg");
  }

  #subContents {
    padding: 100px 0;
    .subTitle {
      font-size: $h2;
      text-align: center;
      font-weight: 500; //100,300,400,500,700,900
      &:after {
        @include pseudo(block, relative);
        @include box(40px, 4px);
        background-color: $main-color;
        margin: 50px auto;
      }
    }
    .contents {
      width: 1200px;
      margin: auto;
    }
  }
}
