@import "vars";
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
}

#header {
  position: fixed;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    #logo {
      a {
        display: flex;
        height: 90px;
        align-items: center;
      }
    }
    #gnb {
      text-align: center;
      color: #fff;
      .list {
        display: flex;
        > li {
          > a {
            font-size: $medium-size;
            text-transform: capitalize;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90px;
            padding: 0 50px;
          }
          .depth02 {
            li {
              a {
                display: block;
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
    .etc {
      color: #fff;
      height: 90px;
      display: flex;
      align-items: center;
      .online {
        padding: 15px 30px;
        border: 2px solid #fff;
        border-radius: 100px;
        transition: all 0.25s ease;
        &:hover {
          background-color: $main-color;
          border-color: $main-color;
        }
      }
      .all {
        width: 50px;
        height: 50px;
        position: relative;
        span {
          display: block;
          width: 30px;
          height: 2px;
          background-color: #fff;
          position: absolute;
          left: 10px;
          &:nth-child(1) {
            top: 14px;
          }
          &:nth-child(2) {
            top: 24px;
          }
          &:nth-child(3) {
            top: 34px;
          }
        }
      }
    }
  }
}
