@import "vars";
#main {
  #mainVisual {
    overflow: hidden;
    position: relative;
    ul {
      li {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        &.visual01 {
          background-image: url("../images/main/mainVisual01.jpg");
        }
        &.visual02 {
          background-image: url("../images/main/mainVisual02.jpg");
        }
        &.visual03 {
          background-image: url("../images/main/mainVisual03.jpg");
        }
      }
    }
    .slogan {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      color: #fff;
      .main {
        font-size: 5.4rem;
        font-weight: 600;
        margin-bottom: 50px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      }
      .sub {
        font-size: 1.8rem;
        line-height: 1.5;
      }
    }
    button {
      position: absolute;
      top: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 4;
      color: #fff;
      cursor: pointer;
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
    .iconScroll {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: 100px;
      z-index: 2;
      .icon {
        display: flex;
        width: 20px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 100px;
        margin-bottom: 10px;
        justify-content: center;
        &:before {
          content: "";
          display: block;
          width: 3px;
          height: 8px;
          background-color: #fff;
          border-radius: 100px;
          margin-top: 10px;
          animation: iconAni 0.5s ease infinite alternate;
          //animation: name duration timing-function delay iteration-count direction fill-mode;
        }
      }
      .txt {
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
  // mainVisual end
  #quickMenu {
    .list {
      display: flex;
      justify-content: center;
      li {
        width: 400px;
        position: relative;
        .txtBox {
          position: absolute;
          bottom: 40px;
          left: 40px;
          color: #fff;
          h3 {
            font-size: 3.6rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@keyframes iconAni {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
